{
  "branches": ["dev"],
  "repositoryUrl": "https://github.com/ASRRtechnologies/core.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "issuePrefixes": ["CORE", "CORESLA"],
          "commitUrlFormat": "{{host}}/{{owner}}/{{repository}}/commits/{{hash}}",
          "compareUrlFormat": "{{host}}/{{owner}}/{{repository}}/compare/{{currentTag}}%0D{{previousTag}}#diff",
          "issueUrlFormat": "https://asrrtechnologies.atlassian.net/browse/{{prefix}}{{id}}"
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Core Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node scripts/update-gradle-version.js ${nextRelease.version}",
        "publishCmd": "./gradlew publishToMavenCentral --no-daemon"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties"
        ],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}